@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');



body{
   background-color: rgb(24, 23, 23) !important;
}

/* animation navbar */
@keyframes fadeinnav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* animation navbar */




/* NAVBAR */
.navbar-expand-lg {
    background-color: rgb(24, 23, 23) !important;
   
}

.navbar-brand {
    font-family: 'Oxygen', sans-serif !important;
    color: rgb(173, 170, 170) !important;
    font-size: 40px !important;
    animation: fadeinnav 2s !important;
}
/* NAVBAR */




/* main CONTENT */

.main {
    margin-top: 100px !important;
    animation: fadeIn 4s !important;
    
}


.inst a {
    margin-left: 10px !important;
    font-size: 25px !important;
    text-decoration: none !important;
    color: white !important;
}

.github a {
    margin-left: 10px !important;
    font-size: 25px !important;
    text-decoration: none !important;
    color: white !important;
}

.wa a {
    margin-left: 10px !important;
    font-size: 25px !important;
    text-decoration: none !important;
    color: white !important;
}
/* main content */


/* animation logo */
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to {
       opacity: 1;
    }
}
/* animation logo */


/* logo */
.logo {
    width: 40px !important;
    height: 40px !important;
    
}

.logo2 {
    width: 40px !important;
    height: 40px !important;
    
}

.logo3 {
    width: 40px !important;
    height: 40px !important;
    
}

/* logo */

/* MAIN CONTENT */

/* group */

.group {
    
    text-align: center !important;
    margin-top: 200px !important;
    animation: fadedin 3s ease;
}



/* animasi group */
@keyframes fadedin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* animasi group */

.group ul li a {
    text-decoration: none !important;
    padding: 5px !important;
    color: rgb(156, 151, 151) !important;
    font-family: 'Monoton', cursive !important;
}

.group ul li a:hover {
    background-color: white !important;
    color: black !important;
    border-radius: 50px !important;
}


.group ul li {
    list-style: none !important;
    
   
}

